{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ideas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Location</th>
                <th>Posttime</th>
                <th>Description</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for idea in ideas %}
            <tr>
                <td><a href="{{ path('idea_show', { 'id': idea.id }) }}">{{ idea.id }}</a></td>
                <td>{{ idea.title }}</td>
                <td>{{ idea.location }}</td>
                <td>{% if idea.postTime %}{{ idea.postTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ idea.description }}</td>
                <td>{% if idea.tags %}{{ idea.tags|join(', ') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('idea_show', { 'id': idea.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('idea_edit', { 'id': idea.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('idea_new') }}">Create a new idea</a>
        </li>
    </ul>
{% endblock %}
