{% extends 'base.html.twig' %}

{% block body %}
    <h1>Idea</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ idea.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ idea.title }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ idea.location }}</td>
            </tr>
            <tr>
                <th>Posttime</th>
                <td>{% if idea.postTime %}{{ idea.postTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ idea.description }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{% if idea.tags %}{{ idea.tags|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('idea_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('idea_edit', { 'id': idea.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
